.fc-toolbar-title{
    font-family: "EB Garamond",Times;
    font-variant: small-caps;
}

.fc-daygrid-event {
    font-size: 0.75rem;
}

.fc-event-title {
    color: #498046;
}

.fc-event-time {
    color: #498046;
}

.fc-event-title.fc-sticky {
    color: white;
}

:root {
    --fc-button-bg-color:#498046;
    --fc-event-bg-color: #80c180;
    --fc-event-border-color: #80c180;

    --fc-event-bg-color: #80c180;
    --fc-event-border-color: #80c180;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
}
